<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dawn of Dominion v0.3</title>
        <link rel="icon" href="static/resources/icon.ico" />
        <style>
            canvas {
                border: 1px solid #d3d3d3;
                background-color: #222222;
            }
        </style>
    </head>
    <script>
        var gamedata = JSON.parse('{{ gamedata | tojson | safe }}')
    </script>
    
    <body onload="startGame(gamedata)">
        <img src="static/resources/BG_Gliese.png" hidden="true" id="gliese">


        <script src="{{ url_for('static', filename="js/classes.js") }}"></script>
        <script src="{{ url_for('static', filename="js/dawnofdominionMain.js") }}"></script>
    </body>
</html>